In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import math
%matplotlib inline

In [5]:
df = pd.read_csv("homeprices.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
#fill missing bedrooms values with median 
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
model = linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [10]:
print("# coeffs : ", model.coef_)
print("# intercept : ", model.intercept_)

# coeffs :  [  112.06244194 23388.88007794 -3231.71790863]
# intercept :  221323.00186540408

In [12]:
# Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old
model.predict([[3000, 3, 40]])

array([498408.25158031])